<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Department</title>
     <!--This script tag is used to maintain session using localstorage-->
    <script>
      if(!localStorage.getItem('csams'))
      {
        window.location.href = '/'
      }
    </script>

</head>
<body>
  <%- include ('./partials/homeNavbar.ejs') %>

   <h1 style="text-align: center; margin:30px 0px">Department</h1>
  <div class="tab">
    <button class="tablinks" onclick="tabChange(event, 'view')">View Departments</button>
    <button class="tablinks" onclick="tabChange(event, 'create')">Create Department</button>
    
  </div>

<%if(data.success)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-success"><%=data.success%></p>
<% }%>
<%if(data.error)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-danger"><%=data.error%></p>
<% }%>
  <div id="view" class="tabcontent">
    <div class="container">
    <table class="table table-striped tbl-class">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Department Name</th>
        </tr>
      </thead>
      <tbody>
            <!---This code is used to check if there is values in category then render it on browser-->

    <%  if(data.department.length) 
    {
     console.log('department',data) 
    for(var i=0;i < data.department.length ; i++) { %>

      <tr>
        <th scope="row"><%= i+1  %></th>
        <td><%= data.department[i].name %></td>
      </tr>
      <% } } %>
      </tbody>
    </table>
  </div>

    
  </div>
  
  <div id="create" class="tabcontent">
    <div class="registration-section"><h2 style="text-align: center;">Create Department</h2></div>
    <div class="jumbotron registration-section">
      <form action="/department/create" method="post">
        <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" name="name" id="name" 
            placeholder="Enter department name">
          
        </div>
        <div class="form-group">
          <label >Description</label>
          <input  name="description" type="text-area" class="form-control"  placeholder="Enter description">
        </div>
        
        <button type="submit"  class="btn btn-primary">Submit</button>
        <!-- <%
        if(data.error)
        { %>
            <p  style="margin-top: 20px;" class="alert alert-danger"><%=data.error%></p>
       <% }%> -->
      </form>

      
    </div>
  </div>
  

  
  <script>
  function tabChange(evt, action) {
      $('#msg').css('display','none')
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(action).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
</body>
</html>