<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Department</title>
</head>
<body>
  <%- include ('./partials/mainNav.ejs') %>

   <h1 style="text-align: center; margin:30px 0px">Department</h1>
  <div class="tab">
    <button class="tablinks" onclick="tabChange(event, 'view')">View Departments</button>
    <button class="tablinks" onclick="tabChange(event, 'create')">Create Department</button>
    
  </div>

<%if(data.success)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-success"><%=data.success%></p>
<% }%>
<%if(data.error)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-danger"><%=data.error%></p>
<% }%>
  <div id="view" class="tabcontent">
    <h3>Department list will be shown here</h3>
    
  </div>
  
  <div id="create" class="tabcontent">
    <div class="registration-section"><h2 style="text-align: center;">Create Department</h2></div>
    <div class="jumbotron registration-section">
      <form action="/department/create" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp"
            placeholder="Enter department name">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input  name="description" type="text-area" class="form-control"  placeholder="Enter description">
        </div>
        
        <button type="submit"  class="btn btn-primary">Submit</button>
        <!-- <%
        if(data.error)
        { %>
            <p  style="margin-top: 20px;" class="alert alert-danger"><%=data.error%></p>
       <% }%> -->
      </form>

      
    </div>
  </div>
  

  
  <script>
  function tabChange(evt, tabChangeName) {
      $('#msg').css('display','none')
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabChangeName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>
</body>
</html>